footer{
    background-color: var(--secondary-bg-color);
}
footer img {
    mix-blend-mode: color-burn;
    height: 100px;
    width: auto;
    margin-bottom: -135px;
}
.footer{
    margin-top: 100px;
    background-color: var(--primary-bg-color);
    padding: 50px 5vw;
}
.footer > div{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}